<style>
    .pane, .view {
        background-color: transparent !important;
    }
</style>
<ion-content ng-controller="ForgotCtrl">
    <div class="main">
        <h2 style="font-size:16px"><img src="img/SportsLogo.png" /></h2>
        <div class="main-w3lsrow">
            <!-- register form -->
            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h2 style="font-size:16px">Forgot Password</h2>
                    <div class="login-agileits-top">
                        <form action="#" method="post">
                            <p>Mobile</p>
                            <input type="number" class="name" name="mobile" required="" />
                            <input type="submit" value="Send Email">
                            <br />
                            <br />
                            <h2 style="font-size:16px"><a style="color:white;text-decoration:underline" ng-click="OpenLogin()"> Sign In  </a></h2>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ion-content>